<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Book a doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card *ngIf="doctor">
          <ion-card-title class="ion-margin-top">{{ doctor.name }}</ion-card-title>
          <ion-card-subtitle>{{ doctor.address.district }}</ion-card-subtitle>
          <ion-card-subtitle>{{ doctor.address.line_1 }}</ion-card-subtitle>
          <ion-card-subtitle>{{ doctor.address.line_2 }}</ion-card-subtitle>
          <ion-card-content>
            <form [formGroup]="bookingForm" *ngIf="bookingForm">
              <ion-item [class.invalid]="openingHour.errors && openingHour.touched">
                <ion-label>Day</ion-label>
                <ion-select placeholder="Select One" formControlName="openingHour" (ionChange)="onOpneingHourInput()">
                  <ion-select-option *ngFor="let hour of doctor.opening_hours" [value]="hour">{{ hour.day }} {{
                    hour.start }} - {{ hour.end }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="validation-errors">
                <div class="error-message" *ngIf="openingHour.hasError('required') && openingHour.touched">
                  Please choose a day.
                </div>
              </div>
              <ion-item [class.invalid]="start.errors && start.touched">
                <ion-label position="floating">Hour</ion-label>
                <ion-input type="text" formControlName="start" (ionChange)="onOpneingHourInput()"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <div class="error-message" *ngIf="start.invalid && !start.hasError('required') && start.touched">
                  Choose an hour between {{ openingHour?.value?.start }} and {{ openingHour?.value?.end }}.
                </div>
                <div class="error-message" *ngIf="start.hasError('required') && start.touched">
                  Please choose an hour.
                </div>
              </div>
              <ion-item [class.invalid]="name.errors && name.touched">
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <div class="error-message" *ngIf="name.hasError('required') && name.touched">
                  Please enter your name.
                </div>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-button [disabled]="bookingForm.invalid || bookingForm.untouched" color="primary" (click)="book()">BOOK
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
